go 1.23.3

use (
	.
	./cocotola-app
	./cocotola-auth
	./cocotola-core
	./cocotola-empty
	./cocotola-import
	./cocotola-synthesizer
	./cocotola-tatoeba
	./generics
	./hello-world
	./lib
	./redstart
	./third-party-library
)
