---
app:
  name: cocotola-synthesizer
  httpPort: 8080
  metricsPort: 8081
  readHeaderTimeoutSec: 30
internalAuth:
  type: static
  username: $SYNTHESIZER_API_USERNAME
  password: $SYNTHESIZER_API_PASSWORD
db:
  driverName: mysql
  migration: false
  mysql:
    username: $MYSQL_USERNAME
    password: $MYSQL_PASSWORD
    host: $MYSQL_HOST
    port: $MYSQL_PORT
    database: $MYSQL_DATABASE
# authApi:
#   endpoint: http://localhost:8080
#   username: $AUTH_API_USERNAME
#   password: $AUTH_API_PASSWORD
googleTextToSpeech:
  apiKey: $GOOGLE_TEXT_TO_SPEECH_API_KEY
  apiTimeoutSec: 5
trace:
  exporter: none
cors:
  allowOrigins:
    - "https://www.cocotola.com"
shutdown:
  timeSec1: 10
  timeSec2: 10
log:
  level:
    default: warn
    cocotola-core: warn
swagger:
  enabled: false
  host: localhost:8080
  schema: http
debug:
  gin: false
  wait: false
